/.phpunit.cache
/node_modules
/bootstrap/cache/*.php
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*.log
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/tests/Browser/Screenshots
compose.*.yml
Dockerfile
.gitignore
.dockerignore
/.github
/.gitattributes
README.md
LICENSE
todos.md

# IDEs / editors
/.fleet
/.idea
/.nova
/.vscode
/.zed
.phpactor.json
*.sublime-project
*.sublime-workspace
.project
.buildpath
.settings/
nbproject/
*.swp
*.swo
*~
